body{
    text-align: center;
}

button{
    margin-top: 50px;
    padding: 50px;
    width: 45%;
    border-style: dashed;
    border-width: 15px;
    cursor: pointer;
    font-size: large;
    font-weight: 800;
}